@use "./_vars.scss" as vars;

@media (max-width: 1600px) {
  .page-admin {
    .nav-bar {
      translate: 250px 0;
    }
    hr {
      width: 95%;
    }
    .widgets {
      gap: 2rem 4rem;
      .widget {
        width: 540px;
        .cards-widget {
          .card {
            .desc-card {
              font-size: 1rem;
            }
          }
        }
      }
    }
  }
  .page-login {
    hr {
      width: 95%;
    }
  }
}
@media (max-width: 1366px) {
  .page-admin {
    .widgets {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}

@media (max-width: 580px) {
  .page-login {
    .logo {
      width: 300px;
    }
    .form-login {
      width: 95%;
    }
  }
  .page-admin {
    .nav-bar {
      translate: 100% 0;
      .nav-mini{
        display: none;
      }
      .nav-logo{
        .tipo-user{
          h2{
            font-size: 1.25rem;
          }
        }
        .logo-navbar{
          width: 130px;
        }
      }
      .mobile {
        border-radius: 10px 0 0 10px;
        background-color: vars.$azul;
        display: block;
        position: fixed;
        left: 0;
        translate: -100%;
        top: 20px;
      }
      .nav-links a{
        font-size: 1rem;
        padding: 10px;
        display: grid;
        grid-template-columns: 50px 1fr;
        justify-items: center;
        span{
          justify-self: start;
        }
      }
    }
    .widgets{
      width: 100%;
      .widget{
        max-width: 300px;
        width: 90%;
        padding: 0.5rem;
        margin: 0 auto;
        .cards-widget{
          .card{
            height: 180px;
          }
        }
      }
      .widget-morador{
        width: 90%;
        padding: 0.5rem;
        margin: 0 auto;
        .cards-widget{
          .card{
            height: 180px;
            .info-card-1{
              flex-direction: column;
              align-items: flex-start;
              .info-card-2{
                margin-left: unset;
              }
            }
            .desc-card{
              font-size: 1.25rem;
            }
          }
        }
      }
      .widget-encomendas{
        .cards-widget{
          .card{
            .info-card-1{
              display: flex;
              flex-direction: column;
              align-items: flex-start;
              .info-tit{
                display: flex;
                gap: 1rem;
                align-items: center;
              }
              h4{
                margin-left: unset;
              }
            }
          }
        }
      }
    }
    .widgets{
      .widget-reservas{
        max-width: 300px;
        width: 90%;
        padding: 0.5rem;
        margin: 0 auto;
        .cards-widget{
          .card{
            height: 180px;
            .info-card-1{
              flex-direction: column;
              align-items: flex-start;
              .horarios{
                position: unset;
                margin-left: unset;
                translate: 0;
                .info-card-2{
                  margin-left: unset;
                }
              }
            }
          }
        }
      }
    }
  }
  .page-mensagens{
    .widget{
      width: 90%;
      padding: 0.5rem;
      margin: 0 auto;
      .cards-widget{
        .card{
          height: 180px;
          .desc-card{
            font-size: 1rem;
          }
        }
      }
    }
  }
  .page-mensagens{
    .widget{
      .cards-widget{
        .card{
          height: 180px;
        }
      }
    }
  }
  .page-moradores{
    .widget-morador{
      width: 90%;
      max-width: 300px;
      padding: 0.5rem;
      margin: 0 auto;
      .cards-widget{
        .card{
          height: 180px;
          .info-card-1{
            flex-direction: column;
            align-items: flex-start;
            .info-tit{
              display: flex;
              gap: 1rem;
              align-items: center;
            }
            .info-card-2{
              margin-left: unset;
            }
          }
          .desc-card{
            font-size: 1.25rem;
          }
        }
      }
    }
  }
  .page-encomendas{
    .widget{
      max-width: 300px;
      width: 90%;
      padding: 0.5rem;
      margin: 0 auto;
      .cards-widget{
        .card{
          height: 180px;
        }
      }
    }
    .widget-encomendas{
      .cards-widget{
        .card{
          .info-card-1{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            .info-tit{
              display: flex;
              gap: 1rem;
              align-items: center;
            }
            h4{
              margin-left: unset;
            }
          }
        }
      }
    }
  }
  .page-reservas{
    .widget{
      max-width: 300px;
      width: 90%;
      padding: 0.5rem;
      margin: 0 auto;
      .cards-widget{
        .card{
          height: 180px;
          .info-card-1{
            flex-direction: column;
            align-items: flex-start;
            .horarios{
              position: unset;
              margin-left: unset;
              translate: 0;
              .info-card-2{
                margin-left: unset;
              }
            }
          }
        }
      }
    }
  }
}
.page-encomendas, .page-admin{
  .widget-encomendas{
    .cards-widget{
      .card{
        .info-card-1{
          .info-tit{
            display: flex;
            gap: 1rem;
            align-items: center;
          }
        }
      }
    }
  }
}